@import '../normalize.css';
@import 'vars.css';
@import 'components/custom-sidebar.css';
@import 'components/page-feed.css';
@import 'components/page-content.css';
@import 'components/post-content.css';
@import 'pages/about.css';

html {
  font-size: 16px;
  background-color: var(--color-dark);
}

i {
  font-style: italic;
}

a {
  color: var(--color-darkWhite);
}

a:hover {
  color: rgb(236, 0, 0);
  text-decoration: none;
}

b {
  font-weight: bold;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}

.blog-feed-container {
  height: 100vh;
}

.main-p-alt {
  color: var(--color-darkWhite);
  margin-bottom: 1rem;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.2em;
  font-family: 'Montserrat', sans-serif;
}

.main-blog-link {
  text-decoration: none;
}

.main-blog-link *:hover {
  color: var(--color-red);
}

.main-p {
  color: var(--color-darkWhite);
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

.main-p-title {
  color: var(--color-darkWhite);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  line-height: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.centrar {
  position: absolute;
  top: 50%;
  left: 50%;
  /*El translate hace que el punto de anclaje esté en el centro.*/
  transform: translate(-50%, -50%);
}

.tag-head-title {
  color: var(--color-darkWhite);
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.page {
  position: relative;
  padding: 3rem 5rem;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
}

.social-links {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

/* -------------------------------------------------------------------------- */

.custom-canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fondo-gif {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(1px);
  background-repeat: round;
  background-attachment: fixed;
}

.md-link {
  color: grey;
  font-size: 1.45rem;
}

.md-link a {
  color: rgb(160, 160, 160);
}

.md-link p {
  margin-bottom: 0;
}

.md-link a:hover {
  color: var(--color-red);
}

/* -------------------------------- Scrollbar ------------------------------- */

body:hover::-webkit-scrollbar {
  background-color: black;
  cursor: pointer;
}

body::-webkit-scrollbar {
  background-color: var(--color-dark);
  width: 0.5rem;
  cursor: move;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
}

body:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-darkWhite);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-red);
  background: yellow;
}

::selection {
  color: black;
  background: rgba(255, 255, 255, 0.87);
}

.letra-interactiva {
  cursor: crosshair;
}

.emoji {
  font-size: 1rem;
  vertical-align: text-top;
}

/* ----------------------------- Visual effects ----------------------------- */

/* Fondo noise (thx to Omar (@OmarOlae) por encontrar la solución :~)) */
.foreground {
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 0;
  position: fixed;
  pointer-events: none;
  background-position: 50%;
  background-image: url('../../../content/assets/noise-1.png');
  pointer-events: none;
  animation: foreground 1s steps(2) infinite;
}

@keyframes foreground {
  0% {
    transform: translate3d(0, 9rem, 0);
  }

  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }

  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }

  30% {
    transform: translate3d(9rem, -9rem, 0);
  }

  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }

  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }

  60% {
    transform: translate3d(2rem, 6rem, 0);
  }

  70% {
    transform: translate3d(7rem, -8rem, 0);
  }

  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }

  90% {
    transform: translate3d(6rem, -5rem, 0);
  }

  to {
    transform: translate3d(-7rem, 0, 0);
  }
}

.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
}

.fade-in-slow {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 740px) {
  .page {
    padding: 1.5rem;
  }

  .page-feed {
    display: flex;
    flex-direction: column;
  }

  .post-card {
    min-height: 100vh;
    flex: 1 !important;
  }

  .custom-sidebar {
    position: relative;
    width: 50%;
    top: initial;
    left: initial;
    margin: auto;
    cursor: help;
    margin-bottom: 1.5rem;
  }
  .post-content {
    width: 100%;
    margin: auto;
  }

  .acerca-contenedor {
    display: block;
    margin: 1rem;
    text-align: center;
    min-width: initial;
  }

  .centrar {
    position: initial;
    top: none;
    left: none;
    transform: none;
  }

  .about-div_lastfm {
    padding-right: initial;
    align-items: center;
  }

  .about-links {
    align-items: center;
    justify-content: space-around;
    padding-right: 0;
  }
  .about-img {
    max-width: 100%;
  }

  .main-logo {
    width: 100%;
  }
}

@media screen and (max-width: 53em) {
  .foreground {
    display: none;
  }
}
