/* --------------------------- Archivos importados -------------------------- */

@import './reset.css';
@import 'vars.css';
@import 'components/custom-sidebar.css';
@import 'components/page-feed.css';
@import 'components/page-content.css';
@import 'components/post-content.css';
@import 'pages/about.css';

/* ----------------------- Fin de Archivos importados ----------------------- */

/* -------------------------- Estilo crudos de HTML ------------------------- */

html {
  font-size: 16px;
  background-color: var(--color-dark) !important;
}

i {
  font-style: italic;
}

ul {
  list-style-type: circle;
}

a {
  color: var(--color-darkWhite);
}

a:hover {
  color: rgb(236, 0, 0);
  text-decoration: none;
}

b {
  font-weight: bold;
}

/* ---------------------- Fin de Estilos crudos de HTML --------------------- */

.img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}

/* .blog-feed-container {
  height: 100vh;
} */

.main-index-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-p-alt {
  color: var(--color-darkWhite);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1em;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}

.index-about {
  color: var(--color-darkWhite);
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
}

.index-about h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  margin: 1rem 0;
}

.index-blogPosts {
  width: 100%;
  margin-bottom: 5rem;
}

.index-postContainer {
  line-height: 1.3;
}

.main-blog-link {
  text-decoration: none;
}

.main-blog-link *:hover {
  color: var(--color-red);
}

.index-title {
  margin-top: 0;
  color: var(--color-darkWhite);
  font-size: 4rem;
  line-height: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.index-p {
  color: var(--color-darkWhite);
  margin-top: 0.2rem;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1em;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
.centrar {
  position: absolute;
  top: 50%;
  left: 50%;
  /*El translate hace que el punto de anclaje esté en el centro.*/
  transform: translate(-50%, -50%);
}

.tag-head-title {
  color: var(--color-darkWhite);
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.page {
  position: relative;
  padding: 3rem 10rem;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
}

/* ------------------------ Canvas y alguna otra cosa ----------------------- */

.custom-canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* -------------------- Fin de Canvas y alguna otra cosa -------------------- */

/* -------------------------------- Scrollbar ------------------------------- */

body:hover::-webkit-scrollbar {
  background-color: black;
  cursor: pointer;
}

body::-webkit-scrollbar {
  background-color: var(--color-dark);
  width: 0.5rem;
  cursor: move;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
}

body:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-darkWhite);
}

/* ---------------------------- Fin de Scrollbar ---------------------------- */

/* -------------------------- Colores de Selection -------------------------- */

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-red);
  background: yellow;
}

::selection {
  color: black;
  background: rgba(255, 255, 255, 0.87);
}

.letra-interactiva {
  cursor: crosshair;
}

/* ----------------------- Fin de Colores de Selection ---------------------- */

.emoji {
  font-size: 1rem;
  vertical-align: text-top;
}

/* ----------------------------- Efectos visuales ----------------------------- */

/* Fondo noise (thx to Omar (@OmarOlaes) por encontrar la solución :~)) */
.foreground {
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 0;
  position: fixed;
  pointer-events: none;
  background-position: 50%;
  background-image: url('../../../content/assets/noise-1.png');
  pointer-events: none;
  animation: foreground 1s steps(2) infinite;
}

@keyframes foreground {
  0% {
    transform: translate3d(0, 9rem, 0);
  }

  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }

  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }

  30% {
    transform: translate3d(9rem, -9rem, 0);
  }

  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }

  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }

  60% {
    transform: translate3d(2rem, 6rem, 0);
  }

  70% {
    transform: translate3d(7rem, -8rem, 0);
  }

  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }

  90% {
    transform: translate3d(6rem, -5rem, 0);
  }

  to {
    transform: translate3d(-7rem, 0, 0);
  }
}

.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
}

.fade-in-slow {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ------------------------- Fin de Efectos Visuales ------------------------ */

/* ------------------------------ Media Queries ----------------------------- */

@media (max-width: 1400px) {
  .page {
    padding: 3rem 7rem;
  }
  .index-title {
    font-size: 3.5rem;
    line-height: 1em;
  }
  .index-p {
    font-size: 1.1rem;
  }
  .index-about h3 {
    font-size: 3rem;
  }
  .index-about {
    font-size: 1.5rem;
  }
}

@media (max-width: 740px) {
  .about-contact {
    margin-right: 0;
  }
  .page-feed {
    flex-direction: column;
  }

  .index-title {
    font-size: 3rem;
    line-height: 1em;
  }
  .index-p {
    font-size: 1.2rem;
    line-height: 1.5em;
  }
  .index-about h3 {
    font-size: 3rem;
  }
  .index-about {
    font-size: 1.5rem;
  }
  .page {
    padding: 1.5rem 0.5rem;
  }
  .page-full {
    padding: 3.5rem 2rem;
  }
  .page-txt-container {
    width: 100%;
  }
  .about-title {
    font-size: 1.5rem;
  }

  .post-card {
    margin: 0;
    min-height: 100vh;
    flex: 1 !important;
  }

  .custom-sidebar {
    position: relative;
    width: 50%;
    top: initial;
    left: initial;
    margin: auto;
    cursor: help;
    margin-bottom: 1.5rem;
  }
  .post-content {
    width: 100%;
    margin: auto;
  }

  .acerca-contenedor {
    display: block;
    margin: 1rem;
    text-align: center;
    min-width: initial;
  }

  .centrar {
    position: initial;
    top: none;
    left: none;
    transform: none;
  }

  .about-div_lastfm {
    padding-right: initial;
    align-items: center;
  }

  .about-links {
    align-items: center;
    justify-content: space-around;
    padding-right: 0;
  }
  .about-img {
    max-width: 100%;
  }

  .main-logo {
    width: 100%;
  }
}

@media screen and (max-width: 53em) {
  .foreground {
    display: none;
  }
}

/* -------------------------- Fin de Media Queries -------------------------- */
