/* Variables
/* ---------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@font-face {
  font-family: 'Computers';
  src: url('./font-computers.woff');
  format: ('woff');
}

:root {
  /* Colours */

  --bg-dark: rgb(2, 2, 2);
  --text-darkWhite: rgb(236, 236, 236);

  /* --------------------------------- Fuentes -------------------------------- */

  --font-computers: 'Computers';
  --font-open: "Open Sans', sans-serif";

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
}
