/* -------------------------------- Variables ------------------------------- */
:root {
  /* Colours */

  --color-dark: rgb(1, 1, 1);
  --color-red: #fd4c4c;
  --color-darkWhite: #fffffff3;

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;
}
/* ---------------------------- Fin de Variables ---------------------------- */
