/* ----------------------- Proyecto individual (Page) ----------------------- */

.page-full {
  padding-bottom: 3.5rem;
  overflow: hidden;
}

.page-content {
  /* margin: auto; */
  width: 90%;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden !important;
  color: var(--color-darkWhite);
}

.page-title {
  padding-left: 5rem;
  word-wrap: break-word;
  color: var(--color-darkWhite);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  text-shadow: 0px 5px 10px var(--color-dark);
}

.page-img {
  width: 70%;
  margin-bottom: 5rem;
}

.page-img-left {
  width: 70%;
  align-self: flex-end;
}

.page-img-container {
  overflow-x: hidden !important;
  padding: 1rem;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.page-img-container-ind {
  overflow-x: hidden !important;
  height: auto;
  width: 100%;
}
.page-subtitle {
  font-size: 3rem;
  padding-bottom: 1rem;
  line-height: 1.2em;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-darkWhite);
}

.page-txt-container {
  padding-left: 4.3rem;
  height: auto;
  width: 60%;
  text-align: justify;
}

.page-iframe {
  padding: 0 5rem;
  width: 80%;
  height: 500px;
  margin-bottom: 2rem;
}

.page-video {
  width: 100%;
}

.page-p {
  color: rgba(255, 255, 255, 0.308);
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
}

/* .page-content-excerpt {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6em;
  color: var(--color-base);
  opacity: 0.5;
} */

.page-gallery {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  grid-auto-flow: row !important;
}

/* --------------------- Fin Proyecto individual (Page) --------------------- */
