.post-content {
  width: 55vw;
  margin: auto;
}

.post-content-title {
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--color-dark);
  background-color: var(--color-darkWhite);
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.5rem;
}

.post-content-body p {
  margin: 1.7rem 0;
  color: #e9e9e9ea;
  font-size: 1.4rem;
  line-height: 1.5;
}
.post-author {
  padding-top: 1rem;
}

.post-author span {
  color: #e9e9e950;
  font-size: 1.2rem;
}

.post-author a {
  text-decoration: none;
}

.post-author span:hover {
  color: var(--color-darkWhite);
}

@media (max-width: 1024px) {
  .post-content {
    width: 100%;
  }

  .post-content-title {
    font-size: 3rem;
  }
}

@media (max-width: 740px) {
  .post-content {
    width: 100%;
  }

  .post-content-title {
    font-size: 3rem;
  }
  .post-content-body p {
    font-size: 1.3rem;
    line-height: 1.4;
  }
}
