/* Post Feed
/* ---------------------------------------------------------- */

.post-feed {
  height: 80vh;
  width: 60vw;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.post-card {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  flex: 1 1 50%;
  display: flex;
  background: linear-gradient(135deg, #242426 0%, #dd0000 100%) center center;
  background-size: cover;
  overflow: hidden;
  counter-increment: posts;
  cursor: pointer;
}

.post-card:hover {
  transition: filter 0.1s;
  background-color: rgba(0, 0, 0, 0.9);
  filter: invert(100);
}

.post-card-large {
  flex: 1 1 100%;
}

.post-card-content {
  width: 100%;
  height: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--text-darkWhite);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.33, 0, 0.2, 1);
}

.post-card-tag-link {
  font-size: 0.7rem;
  color: var(--color-sub-base);
  font-family: var(--font-open);
  text-decoration: none;
}

.post-card-link:hover .post-card-content {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.post-card-title {
  background-color: var(--bg-dark);
  padding: 0.3rem;
  margin: 0;
  font-size: 1.7rem;
  display: inline-block;
  text-align: center;
}

/* Posts without images */
.post-card.no-image:before {
  display: block;
  position: absolute;
  bottom: -0.15em;
  right: 5vw;
  font-size: 28vw;
  line-height: 1em;
  font-weight: var(--font-heavy);
  letter-spacing: -0.1em;
  color: rgba(0, 0, 0, 0.2);
}

.post-card-title a:hover {
  text-decoration: none;
  color: blue;
}

@media (max-width: 600px) {
  .post-card-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .post-feed {
    display: flex;
    flex-direction: column;
  }

  #site-main {
    display: flex;
    flex-direction: row;
  }

  .post-card {
    min-height: 100vh;
    flex: 1 !important;
  }
}
