.post-content {
  width: 53vw;
}

.post-content-title {
  font-weight: 700;
  font-size: 3.5rem;
  color: #e9e9e950;
  font-family: 'Open Sans', sans-serif;
}

.post-content-body p {
  margin: 1rem 0;
  color: #e9e9e9ea;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.5;
}
.post-author {
  padding-top: 1rem;
}

.post-author span {
  color: #e9e9e950;
}

.post-author a {
  text-decoration: none;
}

.post-author a:hover {
  text-decoration: underline;
}
