.about-img {
  max-width: 70%;
  user-select: none;
  margin-bottom: 2rem;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.about-container {
  font-size: 1.48rem;
}
