/* ----------------------- Estilo individual del About ---------------------- */

.about-page {
  height: 100vh;
}

.acerca-contenedor {
  font-size: 1.48rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: var(--color-darkWhite);
  display: flex;
  align-items: center;
  min-width: 920px;
  max-width: 920px;
  word-break: break-all;
}

.about-img {
  max-width: 50%;
}

.about-title {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.img-nowPlaying {
  margin-left: 0.7rem;
}

.about-div_lastfm {
  font-size: 1rem;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding-right: 1rem;
  line-height: 1.2;
}

.actualmente-escuchando {
  color: rgba(255, 255, 255, 0.308);
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.artista {
  color: var(--color-darkWhite);
  margin: 0 !important;
  font-family: 'Josefina sans';
}

.about-contenido {
  line-height: 1.3;
}

.about-contenido li {
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.about-contenido_title {
  font-style: italic;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  color: rgba(255, 255, 255, 0.308);
  font-family: 'Roboto Condensed', sans-serif;
}

.about-work {
  margin: 0.9rem 0;
}

.about-links {
  display: flex;
  padding-right: 50%;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}

.about-contact {
  align-self: center;
}

/* ------------------- Fin de Estilo individual del About ------------------- */
